
@{
    ViewBag.Title = "Index";
}

<h1>API Response Details</h1>

<div id="result"></div>

<table id="responseTable">
    <tr>
        <th>Value</th>
        <th>h</th>
    </tr>
</table>


<script>
    async function fetchData(inputInteger) {
        const url = 'http://ewayasp.webtel.in/EWayBill/v1.3/GetEWB/';

        const requestData = {
            GSTIN: '06AADCM8862E1ZD',
            ewbNo: inputInteger,
            EWBUserName: 'mahalakshm_API_pkg',
            EWBPassword: 'Admin@5303',
            Year: 2024,
            Month: 1,
            EFUserName: '039C10BA-5F49-4C9C-98B7-2B14AAFA38E8',
            EFPassword: '1D4331EF-1DFB-43D3-A065-4F24DBBEB1CD',
            CDKey: '1550859'
        };

        try {
            const response = await fetch(url, {
                method: 'POST',
                body: JSON.stringify(requestData),
                // authorization
                headers: {
                    'Content-type': 'application/json; charset=UTF-8',
                    Authorization: '/IalkRmh3z4=:::ZH4TUvIeJ3A=' 
                }
            });

            if (response.ok) {
                const jsonString = await response.json();
                const data = JSON.parse(jsonString)

                console.log("Parse : ", data)

                displayResponse(data);
            } else {
                console.error('Error:', response.statusText);
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }

    function displayResponse(data) {
        const tableBody = document.getElementById('responseTable');
        for (const field in data) {
            const row = document.createElement('tr');
            const cell1 = document.createElement('td');
            const cell2 = document.createElement('td');
            cell1.textContent = field;
            cell2.textContent = data[field];
            row.appendChild(cell1);
            row.appendChild(cell2);
            tableBody.appendChild(row);
        }
    }

    fetchData(761350224916);
</script>